<div>
  <h1>Bienvenido a la tienda</h1>
  <ul>
    <li><a href="/products">Ver productos</a></li>
    <li><a href="products/new">Nuevo producto</a></li>
  </ul>

  {{#each products}}
    <div>
      <h3>Producto</h3>
      <p>Nombre: {{this.title}}</p>
      <p>Descripcion: {{this.description}}</p>
      <p>Codigo: {{this.code}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
    </div>
  {{/each}}

</div>
<script src="/js/home.js"></script>